<div style='padding-bottom: 10px;' class="portfolio_asset">
	<div class="string clearfix required stringish control-group" style='float:left;'>
		<%= f.label :asset_symbol, 'Stock Symbol', :class => 'control-label' %>
		<div class="controls">
			<%= f.text_field :asset_symbol, {:style => 'width: 50px;' } %>
		</div>
	</div>
	<div class="string clearfix required stringish control-group" style='float:left;'>
		<%= f.label :percentage, 'Portfolio Percentage', :class => 'control-label' %>
		<div class="controls">
			<%= f.text_field :percentage, {:style => 'width: 50px;margin-right:10px;', :class => 'percentage' } %>
		</div>
	</div>
	<div  style='float:left;'><%= link_to_remove_fields "remove", f %></div>
	<div style='clear:both'></div>
</div>

